In [1]:
fruit = {'mango':5,'banana':6,'orange':8}
type(fruit)

dict

In [2]:
fruit['mango']

5

In [4]:
result = []
x = 1
y = 1
z = 1
n = 2

for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k != n:
                newList = [i,j,k]
                result.append(newList)
            else:
                continue
print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [5]:

x = 1
y = 1
z = 1
n = 2
result = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n]
print(result)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [ ]:
no_student = int(input())
students = []
for i in range(no_student):
    name = input()
    marks = float(input())
    newList = [name,marks]
    students.append(newList)


grade = []

for student in students:
    grade.append(student[1])

lowest = min(grade)
grade2 = []
for i in grade:
    if i != lowest:
        grade2.append(i)

second_lowest = min(grade2)
sec_student = []
for student in students:
    if student[1] == second_lowest:
        sec_student.append(student[0])
    else:
        continue
sec_student.sort()
for i in sec_student:
    print(i)

[['harry', 86.0], ['kane', 95.0], ['alice', 78.0]]
[86.0, 95.0, 78.0]
[86.0, 95.0]
harry

In [1]:
no_student = int(input())
students = []
for i in range(no_student):
    name = input()
    marks = float(input())
    newList = [name,marks]
    students.append(newList)

grade = [student[1] for student in students]

lowest = min(grade)
grade2 = [i for i in grade if i != lowest]

second_lowest = min(grade2)
sec_student = [student[0] for student in students if student[1]==second_lowest]
sec_student.sort()
for i in sec_student:
    print(i)

alex
harry

In [3]:
i  = [5,6,7,8]
len(i)

4

In [4]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    newList = []
    newList = student_marks[query_name] 
    total = 0
    for i in newList:
        total += i
    avg = total/len(newList)
    print(f"{avg:.2f}")

56.00